<div class="form-container max-w-lg mx-auto bg-white rounded-lg shadow-md p-6">
  <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Crear Vuelo</h2>
  <form [formGroup]="vueloForm" (ngSubmit)="crearVuelo()" class="space-y-4">
    <!-- Campo Consecutivo (ID de Vuelo) -->
    <div>
      <label for="idVuelo" class="block text-gray-700 font-medium mb-2">Consecutivo</label>
      <input type="text" id="idVuelo" [value]="proximoIdVuelo || 'Cargando...'"
             class="w-full px-4 py-2 border border-gray-300 rounded-md bg-gray-200 text-gray-700" readonly>
    </div>

    <!-- Campo Tipo de Vuelo -->
    <div>
      <label for="tipoVuelo" class="block text-gray-700 font-medium mb-2">Tipo de Vuelo</label>
      <select id="tipoVuelo" formControlName="tipoVuelo" (change)="onTipoVueloChange()"
              class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700" required>
        <option value="">Seleccione tipo de vuelo</option>
        <option value="nacional">Nacional</option>
        <option value="internacional">Internacional</option>
      </select>
      <div *ngIf="vueloForm.get('tipoVuelo')?.invalid && vueloForm.get('tipoVuelo')?.touched">
        <small class="text-red-500" *ngIf="vueloForm.get('tipoVuelo')?.errors?.['required']">El campo tipo de vuelo es requerido.</small>
      </div>
    </div>

    <!-- Origen -->
    <div>
      <label for="origen" class="block text-gray-700 font-medium mb-2">Origen</label>
      <select id="origen" formControlName="origen" (change)="onOrigenChange()" class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700" required>
          <option *ngFor="let ciudad of ciudadesOrigen" [value]="ciudad">{{ ciudad }}</option>
      </select>
      <div *ngIf="vueloForm.get('origen')?.invalid && vueloForm.get('origen')?.touched">
        <small class="text-red-500" *ngIf="vueloForm.get('origen')?.errors?.['required']">El campo origen es requerido.</small>
      </div>
    </div>

    <!-- Destino -->
    <div>
      <label for="destino" class="block text-gray-700 font-medium mb-2">Destino</label>
      <select id="destino" formControlName="destino" class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700" required>
          <option *ngFor="let ciudad of ciudadesDestino" [value]="ciudad">{{ ciudad }}</option>
      </select>
      <div *ngIf="vueloForm.get('destino')?.invalid && vueloForm.get('destino')?.touched">
        <small class="text-red-500" *ngIf="vueloForm.get('destino')?.errors?.['required']">El campo destino es requerido.</small>
      </div>
    </div>

    <!-- Tiempo Estimado de Vuelo -->
    <div>
      <label for="tiempoEstimado" class="block text-gray-700 font-medium mb-2">Tiempo Estimado de Vuelo</label>
      <input
          id="tiempoEstimado"
          type="text"
          formControlName="tiempoEstimado"
          [value]="tiempoEstimado || 'N/A'"
          [disabled]="true"
          class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700">
    </div>

    <!-- Fecha de Vuelo -->
    <div>
      <label for="fechaVuelo" class="block text-gray-700 font-medium mb-2">Fecha de Vuelo</label>
      <input
          id="fechaVuelo"
          type="date"
          formControlName="fechaVuelo"
          [min]="todayDate"
          class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700" required>
        <div *ngIf="vueloForm.get('fechaVuelo')?.invalid && vueloForm.get('fechaVuelo')?.touched">
          <small class="text-red-500" *ngIf="vueloForm.get('fechaVuelo')?.errors?.['required']">El campo fecha de vuelo es requerido.</small>
        </div>
    </div>

    <!-- Campo Hora del Vuelo -->
    <div>
      <label for="horaVuelo" class="block text-gray-700 font-medium mb-2">Hora del vuelo</label>
      <input type="time" formControlName="horaVuelo" id="horaVuelo" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
      <div *ngIf="vueloForm.get('horaVuelo')?.invalid && vueloForm.get('horaVuelo')?.touched">
        <small class="text-red-500" *ngIf="vueloForm.get('horaVuelo')?.errors?.['required']">El campo hora de vuelo es requerido.</small>
      </div>
    </div>


    <!-- Campo de Fecha y Hora de Llegada (Calculada) -->
    <div>
      <label for="fechaLlegada" class="block text-gray-700 font-medium mb-2">Fecha y Hora de Llegada (Calculada) <span title="La fecha y hora son locales del destino."> (?) </span></label>
      <input
          id="fechaLlegada"
          type="datetime-local"
          [value]="fechaLlegada | date:'yyyy-MM-ddTHH:mm'"
          [disabled]="true"
          class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700">
    </div>

    <!-- Campo de costo -->
    <div>
      <label for="costoVuelo" class="block text-gray-700 font-medium mb-2">Costo del vuelo por persona:</label>
      <input type="number" id="costoVuelo" formControlName="costoVuelo" placeholder="Costo"
            class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700" />
      <div *ngIf="vueloForm.get('costoVuelo')?.invalid && vueloForm.get('costoVuelo')?.touched">
        <small class="text-red-500" *ngIf="vueloForm.get('costoVuelo')?.errors?.['required']">El costo es requerido.</small>
        <small class="text-red-500" *ngIf="vueloForm.get('costoVuelo')?.errors?.['min']">El costo debe ser mayor que 0.</small>
      </div>
    </div>


    <!-- Botón de Confirmación -->
    <button type="submit" [disabled]="!vueloForm.valid" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500">
      Confirmar
    </button>
  </form>

  <div *ngIf="mensajeExito" class="mt-4 text-green-500 text-center">{{ mensajeExito }}</div>
  <div *ngIf="mensajeError" class="mt-4 text-red-500 text-center">{{ mensajeError }}</div>
</div>
