.cancelar-vuelo-container {
  margin-top: 150px; /* Para asegurarnos de que el header no oculte el componente */

  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .form-group {
      margin-bottom: 20px;

      label {
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
      }
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #e53e3e;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #c53030;
      }
    }

    .error-message {
      color: red;
      font-size: 14px;
      text-align: center;
    }

    .success-message {
      color: green;
      font-size: 14px;
      text-align: center;
    }
  }
}
